#itemsTable {
  margin: 0 auto;
  width: 25%;
  border: 2px solid black;
  position: relative;
  top: 100px;
}

#itemsTable #menu {
  width: 100%;
  height: 100px;
}

#itemsTable #menu input {
  position: relative;
  top: 15px;
  left: 10px;
  height: 50px;
  width: 50%;
  border-bottom: 2px solid black;
  background-color: lightgrey;
}

#itemsTable #menu button {
  position: relative;
  top: 15px;
  right: 15px;
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  width: 28%;
  height: 50%;
  background-color: lightgrey;
}

#itemsTable #menu button.disabled {
  cursor: not-allowed;
}

#itemsTable #itemsData {
  width: 100%;
  height: 400px;
}

#itemsTable #itemsData div {
  width: 49%;
  height: 100%;
  position: relative;
  float: left;
  border: 1px solid black;
  margin-left: 1px;
}

#itemsTable #itemsData div .item {
  width: 100%;
  height: 50px;
  border: 1px solid black;
}
